@model COMP2084Assign2Real.Models.MovieRental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieRental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieRentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
